services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    restart: unless-stopped
    environment:
      PHP_DISPLAY_ERRORS: 1

volumes:
  db_data: {}
