<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/catalogo"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout Seguro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  
  <ion-card class="tarjeta-visual" [ngClass]="franquicia">
    <ion-card-content>
      <div class="logo-franquicia">
        <span *ngIf="franquicia === 'visa'">VISA</span>
        <span *ngIf="franquicia === 'mastercard'">MasterCard</span>
        <span *ngIf="franquicia === 'desconocida'">Billetera Digital</span>
      </div>
      <h2 class="numero-display">{{ numeroTarjeta || '#### #### #### ####' }}</h2>
      <div class="datos-inferiores">
        <div>
          <small>Titular</small>
          <p>{{ nombreTitular || 'NOMBRE APELLIDO' | uppercase }}</p>
        </div>
        <div>
          <small>Vence</small>
          <p>{{ fechaExpiracion || 'MM/YY' }}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-list inset="true" lines="full">
    <ion-item>
      <ion-input [(ngModel)]="nombreTitular" label="Nombre en la tarjeta" labelPlacement="floating" type="text" autocapitalize="characters"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="numeroTarjeta" (ionInput)="verificarTarjeta()" label="Número de Tarjeta" labelPlacement="floating" type="tel" maxlength="16"></ion-input>
      <ion-icon slot="end" name="checkmark-circle-outline" color="success" *ngIf="esValida && numeroTarjeta.length >= 15"></ion-icon>
      <ion-icon slot="end" name="close-circle-outline" color="danger" *ngIf="!esValida && numeroTarjeta.length >= 15"></ion-icon>
    </ion-item>

    <div style="display: flex;">
      <ion-item style="flex: 1;">
        <ion-input [(ngModel)]="fechaExpiracion" (ionInput)="formatearExpiracion()" label="Expiración (MM/YY)" labelPlacement="floating" type="text" maxlength="5"></ion-input>
      </ion-item>
      <ion-item style="flex: 1;">
        <ion-input [(ngModel)]="cvv" label="CVV" labelPlacement="floating" type="tel" maxlength="4"></ion-input>
      </ion-item>
    </div>
  </ion-list>

  <ion-button expand="block" shape="round" color="primary" class="ion-margin-top" (click)="procesarPago()" [disabled]="cargando || !esValida">
    <ion-spinner name="crescent" *ngIf="cargando"></ion-spinner>
    <span *ngIf="!cargando">Pagar Simuladamente</span>
  </ion-button>

</ion-content>