<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Control de Plataforma</ion-title>
  </ion-toolbar>

  <ion-toolbar color="dark">
    <ion-segment [(ngModel)]="segmentoActual" (ionChange)="cambiarTab($event)">
      <ion-segment-button value="pendientes">
        <ion-label>Por Aprobar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="activos">
        <ion-label>Publicados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="ion-padding">
    <h2>Dashboard 📊</h2>
    
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card color="primary" class="ion-no-margin">
            <ion-card-header>
              <ion-icon name="earth-outline" style="font-size: 24px;"></ion-icon>
              <ion-card-title style="font-size: 1.5rem; font-weight: bold;">{{ totalToursActivos }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>Tours Activos</ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="6">
          <ion-card color="warning" class="ion-no-margin">
            <ion-card-header>
              <ion-icon name="ticket-outline" style="font-size: 24px;"></ion-icon>
              <ion-card-title style="font-size: 1.5rem; font-weight: bold;">{{ toursPendientes.length }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>Por Revisar</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="segmentoActual === 'pendientes'">
    <h2 class="ion-padding-horizontal ion-margin-top">Auditoría Pendiente</h2>
    <ion-list *ngIf="toursPendientes.length > 0; else sinTours" inset="true">
      <ion-item *ngFor="let tour of toursPendientes">
        <ion-label>
          <h2 style="font-weight: bold;">{{ tour.titulo }}</h2>
          <p>${{ tour.precio }} COP</p>
        </ion-label>
        
        <ion-button slot="end" fill="clear" color="primary" [routerLink]="['/detalle-tour', tour.id]">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        
        <ion-button slot="end" color="success" shape="round" (click)="confirmarAprobacion(tour.id)">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Aprobar
        </ion-button>
        
      </ion-item>
    </ion-list>

    <ng-template #sinTours>
      <div class="ion-padding ion-text-center">
        <img src="assets/icon/favicon.png" style="width: 80px; opacity: 0.5;" alt="Mesa limpia">
        <p style="color: gray; margin-top: 20px;">No hay información pendiente de auditoría. ¡Bandeja limpia!</p>
      </div>
    </ng-template>
  </div>

  <div *ngIf="segmentoActual === 'activos'">
    <h2 class="ion-padding-horizontal ion-margin-top">Tours Públicos</h2>
    <ion-list *ngIf="toursActivos.length > 0; else sinActivos" inset="true">
      <ion-item *ngFor="let tour of toursActivos">
        <ion-thumbnail slot="start">
          <img [src]="tour.imagenUrl" />
        </ion-thumbnail>
        <ion-label>
          <h2 style="font-weight: bold;">{{ tour.titulo }}</h2>
          <ion-badge color="success">Público</ion-badge>
        </ion-label>
        <ion-button slot="end" fill="clear" color="warning" (click)="suspender(tour.id)">
          <ion-icon name="pause-circle"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="danger" (click)="eliminar(tour.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ng-template #sinActivos>
      <div class="ion-padding ion-text-center">
        <p style="color: gray; margin-top: 20px;">No hay tours públicos actualmente.</p>
      </div>
    </ng-template>
  </div>

</ion-content>